*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}


input{
    all:unset;
}

button{
    all: unset;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


h1{
    font-size: 4rem;
    font-weight: 700;
}

h2{
    font-size: 3rem;
    font-weight: 700;
}


.medium{
    font-weight: 500;
}

.semibold{
    font-weight: 600;
}

p,span{
    font-size: 1rem;
}

.small{
    font-size: 0.875rem;
}

body{
    display: flex;
    padding: 0 4rem;
    background: #232323;
    color: #fff;
    max-width: 1000px;
    margin: auto
}

.container{
    width: 50%;
    margin-top: 12rem;
}


.mt-1{
    margin-top: 0.5rem; /*8px*/
}

.mt-2{
    margin-top: 1rem; /*16px*/
}

.mt-3{
    margin-top: 1.5rem; /*24px*/
}

.mt-4{
    margin-top: 2rem; /*32px*/
}

.block{
    display: block;
}

.calculate-input{
    background: #2E2E2E;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: 2px solid #424242
}

.primary{
    background: #1C7ED6;
    padding: 0.750rem;
    border-radius: 0.25rem;
}

button{
    transition: 1s all;
    opacity: 0.95;
}

button:hover{
    cursor: pointer;
    opacity: 1;
    transition: 1s all;
}

.card{
    background: #2E2E2E;
    padding: 3rem;
    border-radius: 0.25rem;
    max-width: 360px;
}

.align-center{
    text-align: center;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.gap-2{
    gap: 1rem;
}


@media only screen and (max-width: 850px) {
    .container{
        width: 100%;
    margin-top: 4rem;

    }

    .flex-col{
        flex-direction: column;
    }
  }



/*
#232323 - Background página
#424242 - Stroke
#FFF - Texto
#2E2E2E - Background cards/input
#1C7ED6 - Botão primário
#C9C9C9 - Texto acizentado
*/